/*
Author: Mehfoos
Last Major Update: 2022
Description: Stylesheet for formatting the page
*/

/* Static fonts */
@font-face {
    font-family: "Averia Serif Libre";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/AveriaSerifLibre-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Averia Serif Libre";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/AveriaSerifLibre-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Averia Serif Libre";
    font-style: italic;
    font-weight: normal;
    src: url("/fonts/AveriaSerifLibre-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Averia Serif Libre";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/AveriaSerifLibre-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Averia Sans Libre";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/AveriaSansLibre-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Averia Sans Libre";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/AveriaSansLibre-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Averia Sans Libre";
    font-style: italic;
    font-weight: normal;
    src: url("/fonts/AveriaSansLibre-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Averia Sans Libre";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/AveriaSansLibre-BoldItalic.ttf") format("truetype");
}
/* */

/* Basic Styles */
html {
    font-size: 100%; /* User font size */
    line-height: 1.5rem; /* relative line spacing */
    box-sizing: border-box; /* To make width height include padding and border*/
    font-family: 'Averia Serif Libre', Times, serif; /* Global font */
    height: 100%; /* Reference height for other objects */
}

body {
    padding: 0;
}

h1 {
    font-family: 'Averia Serif Libre', Times, serif; /* Choose Serif version of font */
}
h2 {
    font-family: 'Averia Serif Libre', Times, serif; /* Choose Serif version of font */
}
h3 {
    font-family: 'Averia Serif Libre', Times, serif; /* Choose Serif version of font */
}

img {
    max-width: 100%; /* Make width limit to screen size */
    height: auto; /* Auto size to preserve aspect ratio */
}

figcaption{
    font-size: smaller;
    text-align: center;
}
summary {
    background-color: white;
    color: navy;
    font-weight: bold;
    cursor: pointer;
    border: none
    border-bottom 1px solid transparent
}
summary:hover {
    border-bottom:  1px solid blue;
    color: blue; /* Set to black colour */
    transition: all ease 0.5s
}
details[open] summary{
    background-color: navy;
    color: white;
}
details,
.details{
    background-color: beige;
    margin-left: 1%;
}
details p,
.details{
    margin-left: 1%;
    margin-right: 1%;
}
/* */

/* Hover links; only changes on hover to avoid distraction */
.hoverLink a {
    text-decoration: none; /* Remove underline for link */
    border-bottom:  1px solid transparent;
    transition: all ease 0.5s;
    color: black;
}
.hoverLink a:hover {
    border-bottom:  1px solid blue;
    color: blue; 
    transition: all ease 0.5s;
}
/* */

/* Table of contents List indentation and increment */
.toc ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }

.toc a {
    text-decoration: none; /* Remove underline for link */
    color: navy; 
    font-weight:bold; /* Make it bold */
    font-family: 'Averia Serif Libre', Times, serif; 
    border-bottom:  1px solid transparent;
    transition: all ease 0.5s
}
.toc a:hover {
    border-bottom:  1px solid black;
    color: blue; 
    transition: all ease 0.5s
}

.toc li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }
  
.toc li:before {
      content: counters(item, ".") ". ";
      display: table-cell;
      padding-right: 0.6em;    
  }
  
.toc li li {
      margin: 0;
  }
  
.toc li li:before {
      content: counters(item, ".") " ";
  }

.centerBlock {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
/* */


/* Limit height to 1/4 of screen */
.limitHeight {
    min-height: 20vw;
    max-height: 25vh;
    max-width: 100%; /* Make width limit to screen size */
    width: auto;
    height: auto; 
}
/* */
/* Limit height to 1/2 of screen */
.limitHeightLarge {
    min-height: 20vw;
    max-height: 50vh;
    max-width: 100%; /* Make width limit to screen size */
    width: auto;
    height: auto; 
}
/* */

/* Subjective content */
.opinion {
    font-family: 'Averia Sans Libre', Arial, sans-serif; /* Choose Sans Serif version of font */
}

/* Logo Style */
.titleHeading {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Wrap content around if there's no space */
    justify-content: space-between; /* Space content evenly */
    align-items: center;
}
.titleHeading a {
    text-decoration: none; /* Remove underline for link */
    color: #000; /* Set to black colour */
    font-weight:bold; /* Make it bold */
    text-align: center;
    border-bottom:  1px solid transparent;
}
.titleHeading img{
    max-height: 5rem;
}
.titleHeading a:hover {
    border-bottom:  1px solid black;
    color: blue; /* Set to black colour */
    transition: all ease 0.5s
}
/* */

/* Navigation menu items style */
.nav-menu {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    list-style:none; /* Remove bullet points for list */
    display: flex; /* Use Flexible Box module for layout */ 
    flex-wrap: wrap; /* Wrap content around if there's no space */
    justify-content: space-evenly; /* Space content evenly */
    padding: 0.1rem;
}
.nav-menu a {
    text-decoration: none; /* Remove underline for link */
    color: navy; /* Set to black colour */
    font-weight:bold; /* Make it bold */
    font-family: 'Averia Serif Libre', Times, serif; 
    border-bottom:  1px solid transparent;
    padding: 0.1rem;
    transition: all ease 0.5s
}
.nav-menu a:hover {
    border-bottom:  1px solid black;
    color: blue; /* Set to black colour */
    transition: all ease 0.5s
}
.nav-disable,
.nav-disable a {
    color: grey;
}
.nav-disable a:hover {
    color: grey;
    text-decoration: line-through;
}
/* */


/* Embedded content GDPR compliance code from https://www.thomasvantuycom.com/writing/privacy-friendly-video-embeds/ */
.video__iframe:not([src]) {
    display: none;
  }
.video__iframe[src] + .video__notice {
    display: none;
  }
.video__iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video {
    display: flex;
    align-items: center;
    position: relative;
    background-color: black;
    background-position: center center;
    background-size: cover;
  }
.video::before {
    display: block;
    content: '';
    padding-bottom: 56.25%;
    width: 0;
    height: 0;
  }
.video__notice {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 1.0rem;
    width: 100%;
  }  
.video__notice > * {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
  }
.video__notice > button {
    font: inherit;
    padding: 0.5rem 1rem;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
  }
.video__notice > button:hover,
.video__notice > button:focus {
    background-color: blue;
  }